<br>

<p><% breadcrumb :home_company %><p>
<div class="companyinfo">会社情報</div>


<table class="company">
  <tr>
    <th>会社名</th>　　　
    <td>French Elixir Japan(フレンチエリキシルジャパン)</td>
  </tr>
  <tr>
    <th>住所</th>
    <td>大阪府大阪市中央区内久宝寺町3丁目1番15号　501号</td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td>080-5320-3520</td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>frenchelixirjapan@gmail.com</td>
  </tr>
  <tr>
    <th>代表者名</th>
    <td>木下美優</td>
  </tr>
</table>


<br>
<br>
<%= image_tag("/hyousiki.png", :size => "800x256") %>

<br>
<br>
