<br>

<p><% breadcrumb :home_guide %><p>

<h2>決済について</h2>
<pre>
<h4>・決済方法</h4>
ご決済方法は以下よりお選びいただけます。

・クレジットカード
・代金引換
・コンビニ先払い
・銀行振込

○ ご利用いただけるカード
ご利用いただけるカード・・・VISA、MASTER、JCB、AMERICANEXPRESS、DINERS

<%= image_tag("/card.png", :size => "288x43") %>

・代金引換手数料
手数料は１決済につき330円（税込）となります。
・銀行振込手数料・振込先口座
お振り込み手数料はお客様負担にてお願いいたします。
振込先口座　【銀行】　　【支店】　【口座】　【名義】
※コンビニ先払いと銀行振込につきましては、商品ご購入後3日以内にお支払いいただけますようお願いいたします。
支払い期限を過ぎた場合、自動でキャンセルさせていただきますので、予めご了承ください。
※コンビニ決済時には代金お支払い時に各種機関にて領収書が発行されます。




<h2>領収書について</h2>
<h4>クレジットカード、銀行振込の場合</h4>
領収書はWeb発行となります。
ご注文時に「領収書を希望する」と指定された場合に限り、決済手続き完了後、ご登録のメールにお送りいたします。

<h4>代金引換の場合</h4>
代金引換でお支払いの場合は、配送会社からお渡しする弊社の名前が入った配送伝票が正式な領収書になります。




<h2>お届け・配送について</h2>
<h4>・配送料</h4>
お荷物1梱包あたり726円(税込)を申し受けます。
※1梱包は最大12本です。

<h4>・送料無料</h4>
税込１万円以上のご注文は配送料がかかりません。

<h4>・お届けまでにかかる日数</h4>
ご注文日から５営業日以内に発送致します。




<h2>キャンセル・返品について</h2>
<h4>・ご注文内容の変更・キャンセルについて</h4>
＜商品出荷前のご変更・キャンセル＞
商品の手配状況によりご対応が異なります。必ずお電話にてご連絡ください。
変更・キャンセルをご希望されるご注文番号をご連絡ください。
＜商品出荷後の変更・キャンセル＞
ご変更やキャンセルは一切お受け致しかねます。予めご了承ください。
<h4>・商品到着後の返品・交換について</h4>
ご注文と異なる商品が届いている、破損・汚損、または品質不良が疑われる場合には、商品到着後7日以内にご連絡ください。
品質不良の場合、弊社で状態を確認させていただきます。中身は捨てずにお問い合わせください。
中身が残っていない場合は対応致しかねますのでご注意ください。
いずれの場合も商品到着後8日以上経過した場合には対応を致しかねます。
また商品の性質上、抜栓後の品質不良以外の対応はご容赦ください。
<h4>・クーリングオフについて</h4>
当サイトはお客様のご意志によりご注文をいただく通信販売のため、クーリングオフ制度は適用されません。予めご了承ください。


</pre>
