<p><% breadcrumb :home_law %><p>

<h4>特定商取引法及び酒税法に基づく表示</h4>
「特定商取引に関する法律」第11条（通信販売についての広告）に基づき以下に明示いたします。
<br>

<h4>お問い合わせ</h4>
<pre>French Elixir Japan(フレンチエリキシルジャパン)　
TEL　080-5320-3520(受付時間 9:00-17:00 ※定休日を除く)
メール:frenchelixirjapan@gmail.com</pre>
<br>
<pre>※ メールでのお問合せは、24時間の受付ですが、返信にお時間をいただくことがございます。
あらかじめご了承ください。お急ぎの場合はお電話にてご連絡ください。
※ ご購入後の変更、キャンセル等は必ずお電話にてご連絡ください。</pre>
<br>
<h4>販売業者</h4>
<pre>French Elixir Japan(フレンチエリキシルジャパン)
大阪府大阪市中央区内久宝寺町3丁目1番15号　501号
代表者名　：　木下　美優
通信販売サービス 店舗運営責任者　：　木下　美優
酒類販売管理者　：　木下　美優
研修受講年月日：2021年7月22日
研修実施団体名：一般社団法人　日本フランチャイズチェーン協会</pre>
<br>
<pre>酒類販売業免許番号　：　
問い合わせ先　：
TEL　080-5320-3520(受付時間 9:00-17:00 ※定休日を除く)
メール:frenchelixirjapan@gmail.com</pre>
<br>

<h4>販売価格</h4>
<pre>ワインの価格は常に変動しているため、お客様が注文を確定された時の価格と、サイト上の情報が一致しなくなる場合があります。
下記に基づき価格を調整させていただく場合を除き、お客様への請求金額は、注文確定時の商品価格となりますので、ご了承ください。
弊社では、正確な商品情報を表示するよう最善の努力をしています。
万が一商品の誤った価格情報がサイト上に表示されていた場合は、
次のように価格調整をさせていただきますので、あらかじめご了承ください。
● 商品の正しい価格が、当サイトに表示されていた価格より低い場合は、その低い方の価格で請求させていただきます。
● 商品の正しい価格が、当サイトに表示されていた価格より高い場合は、弊社の裁量により、発送前にお客様にご連絡し、
改めて価格をご確認いただいた上で商品発送のご指示をお願いするか、または、ご注文をキャンセルさせていただきその旨をご連絡いた
します。</pre>
<br>
<pre>[ 消費税計算方法 ]
消費税(税率10％)は全て外税です。消費税を別途頂戴いたします。
消費税計算順序　：　購入商品合計に対して計算し1円未満端数は切り捨てになります。
値段を赤字で表示している特別価格商品を除く商品は各種割引の対象となります。割引は消費税計算前に計算いたします。
(商品代金合計＋送料＋各種手数料)×1.10
※　消費税の端数は切り捨てでの計算となります。</pre>
<h4>商品の送料</h4>
<pre>[ 業 者 ]
普通便での発送の場合、1個口につ660円（726円 税込）頂戴いたします。
クール便での発送の場合、配送料に加え、クール代 300円（330円 税込）が加算されます。
税込１万円以上のご注文は配送料がかかりません。</pre>

<h4>支払い方法</h4>
弊社ではクレジットカード、代金引換、銀行振込、コンビニ先払いの4種類のお支払方法をご用意しております。
<br>
<pre><クレジットカード>
ご利用いただけるカード：VISA、MASTER、JCB、AMERICANEXPRESS、DINERS</pre>
<br>
<pre>備考
● 分割払い、ボーナス払い、リボルビング払いも可能ですが、お支払い回数や利用できるサービスは各カードブランドやカード発行元によって異なりますのでご了承ください。
● クレジットカードNo.や有効期限の入力間違い、または支払い限度額越え等が原因でご決済できない場合にはご指定いただいた日のお届けができない可能性がございます。
クレジットカード情報はご確認の上、お間違いのないよう正しく入力してくださいますようお願いいたします。
● なお、弊社ではSSLというシステムを利用しておりますので、カード番号は暗号化されて送信されます。安心してご利用ください。</pre>
<br>
<pre><銀行振込>
[ 振込先 ]</pre>

<br>
<pre>備考
● 上記口座へのご入金を確認後、商品発送の手配を行います。
● お振込み用紙の郵送および商品配送後のご入金は承っておりませんので、予めご了承ください。
● 振込手数料はお客様負担になります。(振込み時にお確かめください。)
● ご注文後にメールにてお支払い総額をお知らせいたします。メールを確認後3日以内にお振込ください。
● 恐れ入りますが、振込手数料はお客様負担でお願いいたします。
● ご入金日の5営業日以内の発送で手配いたします。（営業日：土日祝日を除く月～金）
ご注文日とご入金日のタイミングによってはご指定の日にお届けできない場合がございますので、早めのお振込みをお願い致します。
● ご注文後3日以内にご入金のない場合、キャンセルといたします。</pre>
<br>
<pre><代金引換>
[ 業 者 ]</pre>
<br>
<pre>備考
● 先行販売、プリムール販売、その他一部商品ではご利用いただけません。
クレジットカードまたは銀行振込をご指定ください。
● ワインセラーはメーカー直送ですので、代金引換でお支払いいただくことができません。
クレジットカードまたは銀行振込をご指定ください。
● 代金引換のお支払い時の領収書発行は、運送会社のドライバーにお申し付けくださいますようお願い申し上げます。
● 1決済税抜30万円を上限とします。税抜30万円を超える場合はご決済を分けさせていただきます。
● 代金は商品到着時に配送員にお支払いください。</pre>
<br>
<h4>返品</h4>
<pre>[ 抜栓前 ]
・ 届いた商品がご注文したものと違う場合や破損・汚損など不良品の場合は、商品到着後7日以内にご連絡ください。
・ 商品をご返送いただき、代替品と交換させていただきます。
代替品がご用意できない場合はご返金とさせていだきますのでご了承ください。
・ 返送料は弊社で負担いたします。
・ 商品到着後7日以上経過した場合は、キャンセル・交換・返金・返品に応じかねます。
商品到着後はお早めに品物をご確認いただだけますようお願いいたします。
・ 商品の性質上、上記以外の理由におけるキャンセル・交換・返金・返品はご相談いたしかねます。
[ 抜栓後 ]
・ 商品の性格上、返品・返金・交換はご容赦ください。</pre>
<br>
<pre>[ 返送先 ]
  大阪府大阪市中央区内久宝寺町3丁目1番15号　501号
French Elixir Japan(フレンチエリキシルジャパン)</pre>
<br>
