<h1>Thank you</h1>
<h3>お買い上げありがとうございました！</h3>


<pre><p>注文内容がショップに送信されました。
  注文番号は、400521871828です。
詳細はメールにてお送りいたしますのでご確認ください。</p></pre>

<%= link_to("トップページに戻る", "/top")%>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
