<br>
<div style="width: 660px; z-index: 99999; position: fixed; background: rgb(255, 255, 255); padding: 100px; padding-left: 200px; font-family: sans-serif; left: -163px; top: 200px;">
<%= image_tag "/verify.png",:size => "700x370" %>
</div>



<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>
